body {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  background-color: lightgreen;
}
#paypal-button {
  width: 700px;
  height: 460px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
