* {
  margin: 0%;
  padding: 0%;
}
div {
  display: flex;
  justify-content: center;
  text-align: center;
}
#low {
  background-color: lightblue;
  width: 25vw;
  height: 100vh;
}
#middle {
  background-color: lightgreen;
  width: 25vw;
  height: 100vh;
}
#high {
  background-color: lightcoral;
  width: 25vw;
  height: 100vh;
}
#advanced-tear {
  background-color: lightseagreen;
  width: 25vw;
  height: 100vh;
}
li {
  position: relative;
  top: 15vw;
  justify-content: center;
  font-size: 200%;
}
h1,
h4 {
  position: relative;
}
h4 {
  display: flex;
  justify-content: space-around;
}
li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
