* {
  margin: 0%;
  padding: 0%;
}
div {
  display: flex;
}
#low {
  background-color: lightblue;
  width: 25vw;
  height: 100vh;
}
#middle {
  background-color: lightgreen;
  width: 25vw;
  height: 100vh;
}
#high {
  background-color: lightcoral;
  width: 25vw;
  height: 100vh;
}
#advanced-tear {
  background-color: lightseagreen;
  width: 25vw;
  height: 100vh;
}
li {
  position: relative;
  top: 10vw;
  justify-content: center;
  font-size: 200%;
  right: 6vw;
}
