* {
  padding: 0%;
  margin: 0;
}

#top-card {
  width: 100vw;
  height: 20vh;
}
#top-card #top-card-h1 {
  font-size: 10vh;
  text-align: center;
  animation-name: top-card-name;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
}
@keyframes top-card-name {
  10% {
    margin-left: 53%;
  }
}
#top-card-button {
  position: absolute;
  top: 2vh;
  left: 90%;
  animation-name: top-card-name;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
}
