* {
  padding: 0%;
  margin: 0;
}

#top-card {
  width: 100vw;
  height: 20vh;
}
h1 {
  font-size: 10vh;
  text-align: center;
  animation-name: top-card-name;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
}
@keyframes top-card-name {
  10% {
        margin-left : 53%;
    }
    20%{
        -webkit-background-clip: url(/public/images/top-card-img.jpg);
    }
}